<%- include('partials/header') %>
<div class="container mt-5">
  <h1>404 - Lapa Nav Atrasta</h1>
  <p>
    <% if (error) { %>
    <%= typeof error==='string' ? error : error.message || JSON.stringify(error) %>
    <% } else { %>
    Lapa, ko Jūs vēlaties apmeklēt, nav pieejama!
    <% } %>
  </p>

  <% if (locals.error && locals.error.length> 0) { %>
  <div class="alert alert-danger mt-3">
    <%= locals.error.join(', ') %>
  </div>
  <% } %>

  <a href="/" class="btn btn-custom mt-3">Atpakaļ uz Sākumu</a>
</div>

<%- include('partials/footer') %>