<%- include('partials/header') %>

  <h1>Par mums</h1>
  <p>Šis blogs ir par manām iemīļotajām galda spēlēm, kuras kolekcionēju un spēlēju mājās.</p>
  <p>
    Šī mājaslapa ir radīta mūsu ģimenes ērtībai – vieta, kur vienuviet apskatīt visas mūsu galda spēles. Šeit atradīsiet
    spēļu nosaukumus, spēlētāju skaitu, spēles ilgumu, kā arī citu svarīgu informāciju un attēlus, lai palīdzētu vieglāk
    izvēlēties piemērotāko spēli katram vakaram. Mūsu mērķis ir vienkāršot izvēles procesu un padarīt spēļu vakarus vēl
    īpašākus!
  </p>

  <%- include('partials/footer') %>