<%- include('partials/header') %>

<!-- Title attēls -->
<div class="container-fluid px-0">
  <div class="position-relative">
    <img src="https://images.bauerhosting.com/legacy/media/5e06/154f/b623/5b6e/4da3/52ce/download.jpeg?ar=16%3A9&fit=crop&crop=top&auto=format&w=1440&q=80" class="img-fluid w-100" alt="Galda spēļu kolekcijas attēls" style="max-height: 400px; object-fit: cover;">
    <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
      <h1 class="display-4 fw-bold text-shadow">Par mums</h1>
    </div>
  </div>
</div>

<!-- Lapas saturs -->
<div class="container mt-5">
  <p class="lead text-body-secondary">Šis blogs ir par manām iemīļotajām galda spēlēm, kuras kolekcionēju un spēlēju
    mājās.</p>
  <p class="lead text-body-secondary">
    Šī mājaslapa ir radīta mūsu ģimenes ērtībai – vieta, kur vienuviet apskatīt visas mūsu galda spēles. Šeit
    atradīsiet
    spēļu nosaukumus, spēlētāju skaitu, spēles ilgumu, kā arī citu svarīgu informāciju un attēlus, lai palīdzētu
    vieglāk
    izvēlēties piemērotāko spēli katram vakaram. Mūsu mērķis ir vienkāršot izvēles procesu un padarīt spēļu vakarus
    vēl
    īpašākus!
  </p>
</div>

<%- include('partials/footer') %>