<%- include('partials/header') %>

  <div class="container mt-5">
    <h1>Kļūda</h1>
    <div class="alert alert-danger mt-3">
      <%= error %>
    </div>
    <a href="/" class="btn btn-primary mt-3">Atgriezties sākumlapā</a>
  </div>

  <%- include('partials/footer') %>