<%- include('partials/header') %>
  <div class="container mt-5">
    <h1>Profils</h1>
    <p>Lietotājvārds: <%= user.username %>
    </p>
    <p>Email: <%= user.email %>
    </p>
  </div>
  <%- include('partials/footer') %>